body {
    margin: 0;
}
div.cosmos {
    background: url(../img/kosmos.jpg) no-repeat ;
    background-size: cover;
    box-sizing: border-box;
    perspective: 600px;
    overflow:hidden;
 }
 
 .planets{
     width: 100vw;
     height: 100vh;
     margin: 0px auto;
     transform: rotateX(60deg);
     transform-style: preserve-3d;
 }
 
 .block1 {
    transform-style: preserve-3d;
    border: 1px solid #525252;
    border-radius: 50%;
    position: absolute;
    animation: orbe infinite linear;
 }
 
 .orbit_sun {
    top: calc(50% - 50px);
    left: calc(50% - 48px);
    animation: none;
    border: none;
 }
 
 .orbit_mercury {
    width: 130px;
    height: 130px;
    top: calc(50% - 65px);
    left: calc(50% - 65px);
    animation-duration: 6s;
 }
 
 .orbit_venus {
    width: 170px;
    height: 170px;
    top: calc(50% - 85px);
    left: calc(50% - 85px);
    animation-duration: 8s;
 }
 
 .orbit_earth {
    width: 230px;
    height: 230px;
    top: calc(50% - 115px);
    left: calc(50% - 115px);
    animation-duration: 10s;
 }
 
 .orbit_moon {
    width: 40px;
    height: 40px;
    top: calc(50% - 20px);
    left: calc(50% - 140px);
 }
 
 .orbit_mars {
    width: 310px;
    height: 310px;
    top: calc(50% - 155px);
    left: calc(50% - 155px);
    animation-duration: 12s;
 }
 
 .orbit_jupiter {
    width: 400px;
    height: 400px;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    animation-duration: 14s;
 }
 
 .orbit_saturn {
    width: 550px;
    height: 550px;
    top: calc(50% - 275px);
    left: calc(50% - 275px);
    animation-duration: 16s;
 }
 
 .orbit_uran {
    width: 650px;
    height: 650px;
    top: calc(50% - 325px);
    left: calc(50% - 325px);
    animation-duration: 18s;
 }
 
 .orbit_neptun {
    width: 750px;
    height: 750px;
    top: calc(50% - 375px);
    left: calc(50% - 375px);
    animation-duration: 20s;
 }
 
 .block2 {
    position: absolute;
    transform-style: preserve-3d;
    animation: invert infinite linear;
 }
 
 .sun {
    width: 100px;
    height: 100px;
    background: url(../img/sun.png);
    background-size: cover;
    transform: rotateX(-80deg);
    animation: sun 90s infinite linear;
 }
 
 .mercury {
    width: 15px;
    height: 15px;
    top: 60px;
    left: -8px;
    background: url(../img/merkuriy.png);
    animation-duration: 6s;
 }
 
 .venus {
    width: 25px;
    height: 25px;
    top: 75px;
    left: -15px;
    background: url(../img/venera.png);
    animation-duration: 8s;
 }
 
 .earth {
    width: 30px;
    height: 30px;
    top: 100px;
    left: -20px;
    background: url(../img/zemlya.png);
    animation-duration: 10s;
 }
 
 .moon {
    width: 8px;
    height: 8px;
    top: 16px;
    left: -5px;
    background: url(../img/moon.png);
    animation-name: moon;
    animation-duration: 10s;
 }
 
 .mars {
    width: 25px;
    height: 25px;
    top: 142px;
    left: -15px;
    background: url(../img/mars.png);
    animation-duration: 12s;
 }
 
 .jupiter {
    width: 60px;
    height: 60px;
    top: 170px;
    left: -30px;
    background: url(../img/upiter.png);
    animation-duration: 14s;
 }
 
 .saturn {
    width: 90px;
    height: 90px;
    top: 250px;
    left: -40px;
    background: url(../img/saturn.png);
    animation-duration: 16s;
 }
 
 .uran {
    width: 20px;
    height: 20px;
    top: 315px;
    left: -10px;
    background: url(../img/uran.png);
    animation-duration: 18s;
 }
 
 .neptun {
    width: 20px;
    height: 20px;
    top: 365px;
    left: -10px;
    background: url(../img/neptun.png);
    animation-duration: 20s;
 }
 
 .block2 {
    background-size: cover;
 }
 
 @keyframes sun{
    from {transform:rotateX(-80deg) rotateZ(0deg);}
    to {transform:rotateX(-80deg) rotateZ(360deg);}
 }
 
 @keyframes orbe {
    from {transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);}
    to {transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);}
 }
 
 @keyframes invert {
    from {transform: rotateX(90deg) rotateY(360deg) rotateZ(0deg);}
    to {transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);}
 }
 
 @keyframes moon {
    from {transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);}
    to {transform: rotateX(90deg) rotateY(-360deg) rotateZ(0deg);
 }
}